<a href="https://colab.research.google.com/github/pushyag1/NLPClass/blob/master/CleaningText.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 2 Cleaning Up a Text
Consider the following sentence:

sentence = "Nick's car was sold for $ 1500".

Perform the following task on the above sentence:
1. Replace special characters with empty spaces
2. Remove multiple empty spaces and replace them by a single space
3. Remove any single character
4. Convert the text to all lower case
5. Split the text to individual words

In [1]:
sentence = "Nick's car was sold for $ 1500"
print(sentence)

Nick's car was sold for $ 1500

In [2]:
removeSpecialChars = sentence.translate ({ord(c): " " for c in "!@#$%^&*()[]{};:,./<>?\|`~-=_+'"})

In [3]:
s= removeSpecialChars

In [4]:
import re

In [5]:
s1 = re.sub("\s\s+", " ", s)
print(s1)

Nick s car was sold for 1500

In [6]:
tmp = re.sub(r'\b\w\b', ' ', s1)
print (re.sub(r'\s{2,}', ' ', tmp).strip())    #method 1

Nick car was sold for 1500

In [7]:
s2 = re.sub('(\\b[A-Za-z] \\b|\\b [A-Za-z]\\b)', '', s1)    #method 2
print(s2)

Nick car was sold for 1500

In [8]:
s3 = s2.lower()

In [9]:
s3

'nick car was sold for 1500'

In [10]:
s4 = print(s3.split(' '))

['nick', 'car', 'was', 'sold', 'for', '1500']